.dj-tool-sidebar-wrapper {
  height: 95%;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2px;
  .dj-list-sidebar-item-not-active {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 33%;
    background-color: $dj-tool-color-not-active;
    border-radius: 20px 0 0 20px;
    border-bottom: 3px inset darken($dj-tool-color-not-active, 20%);
    border-left: 3px inset darken($dj-tool-color-not-active, 20%);
    border-top: 3px inset darken($dj-tool-color-not-active, 20%);
    border-right: 3px inset darken($dj-tool-color-not-active, 20%);
    box-shadow: 0 0 20px $dj-tool-color-not-active;
  }
  .dj-list-sidebar-item-active {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 33%;
    background-color: $dj-tool-color-active;
    border-radius: 20px 0 0 20px;
    border-bottom: 3px inset darken($dj-tool-color-active, 20%);
    border-left: 3px inset darken($dj-tool-color-active, 20%);
    border-top: 3px inset darken($dj-tool-color-active, 20%);
    box-shadow: 0 0 20px $dj-tool-color-active;
  }
}

.dj-list-content {
  display: block;
  float: left;
  height: 95%;
  width: 80%;
  background-color: $dj-tool-color-active;
  border-bottom: 3px inset darken($dj-tool-color-active, 20%);
  border-top: 3px inset darken($dj-tool-color-active, 20%);
  border-right: 3px inset darken($dj-tool-color-active, 20%);
  box-shadow: 0 0 20px $dj-tool-color-active;
  padding: 15px;
  border-radius: 0 20px 20px 0;
}

.dj-tool {
  width: 100%;
  height: 100%;
  display: flex;
}

.dj-list-dj-tool-section {
  float: left;
  position: relative;
  list-style: none;
  border: 1px inset $dj-tool-color-active;
  background-color: rgba($dj-tool-color-active, 0.5);
  box-shadow: 0 0 20px darken($dj-tool-color-active, 20%);
  display: flex;
  flex-direction: column;
  padding: 30px 0 30px 0;
  border-radius: 25px;
  color: #fff;
  width:46%;
  height: 100%;
  margin-left: 2%;
  padding: 25px;
}

.dj-list-dj-tool-section::before {
  background-color: $dj-tool-color-active;
  border-radius: 100px;
  border: 1px solid darken($dj-tool-color-active, 20%);
  box-shadow: 0 0 20px darken($dj-tool-color-active, 20%);
  overflow: hidden;
  position: absolute;
  top: -12px;
  left: 20px;
  content: attr(data-name);
  height: fit-content;
  width: fit-content;
  padding: 2px 10px 2px 10px;
}

.eisbaer-overlay-button-3 {
    @include eisbaer-overlay-button-layout();
    background-color: $dj-tool-color-active;
    border: 1px inset $dj-tool-color-active;
    box-shadow: 0 0 10px darken($dj-tool-color-active,20%);
    color: #fff;
}

.remove-dj-list {
  margin-left: 1em;
}

.one-dj-wrapper {
  display: flex;
  flex-direction: row;
}

.dj-list-tool-table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 95%;
  min-height: 95%;
  gap: 0.75em;
}

.dj-list-tool-table > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: darken($dj-tool-color-active, 20%);
  border-radius: 25px;
  border: 1px outset lighten($dj-tool-color-active, 20%);
  box-shadow: 0 0 10px darken($dj-tool-color-active, 20%);
}

.dj-list-tool-table > * select, .dj-list-tool-table > * button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: darken($dj-tool-color-active, 20%);
  border-radius: 25px;
  border: 1px outset lighten($dj-tool-color-active, 20%);
  box-shadow: 0 0 10px darken($dj-tool-color-active, 20%);
}

.dj-selector * {
  all: unset;
  border: rgba($dj-tool-color-active, 0.5);
}

.dj-selector {
  border-radius: 0;
  height: max-content;
  margin: 5px;
}

.dj-overlays-wrapper {
  all: unset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top:0;
  left:0;
  pointer-events: none;
  backdrop-filter: blur(5px);
  transition: backdrop-filter 2s;
  margin: 15px;
}

.dj-overlay {
  float: left;
  min-width: 20vw;
  width: 20vw;
  height: 33vh;
  pointer-events:all;
  background-color: darken($dj-tool-color-active, 15%);
  padding: 15px;
  border-radius: 20px;
  border: 1px outset $dj-tool-color-active;
  box-shadow: 0 0 10px lighten($dj-tool-color-active, 2%);
}

.dj-list-new-date {
  display: flex;
  flex-direction: row;
}

.dj-list-new-date > * {
  margin: 5px;
  color: #000;
}

.dj-list-tool-table > * {
  min-height: 58px;
}

.dj-list-content {
  overflow-y: scroll;
}

.dj-list-content::-webkit-scrollbar {
  display: none;
}

.month-year-selectors *{
  color: #000;
}