@import '../variables.scss';

@mixin eisbaer-overlay-button-layout {
    height: fit-content;
    padding: 15px;
    border-radius: 100px;
    width: fit-content;
    margin: 10px;
}

.spotify-login {
    max-width: 100%;
    min-width: 90%;
    height: 20%;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid $button-color;
    padding: 5px;
}

.eisbaer-overlay-button {
    @include eisbaer-overlay-button-layout();
    background-color: $button-color;
    border: 1px inset $button-color;
    box-shadow: 0 0 10px darken($button-color,20%);
}


.eisbaer-overlay-button-2 {
    @include eisbaer-overlay-button-layout();
    background-color: $button-color-2;
    border: 1px inset $button-color-2;
    box-shadow: 0 0 10px darken($button-color-2,20%);
    color: #fff;
}

.sidebar-section-list {
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}

.sidebar-section-list-item {
    position: relative;
    list-style: none;
    border: 1px inset $button-color;
    background-color: rgba($button-color, 0.5);
    box-shadow: 0 0 20px darken($button-color,20%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0 30px 0;
    border-radius: 25px;
    min-height: 10vh;
    min-width: 15vw;
    width: fit-content;
    padding: 5px;
}

.sidebar-section-list-item::before {
    background-color: $button-color;
    border-radius: 100px;
    border: 1px solid darken($button-color,20%);
    box-shadow: 0 0 20px darken($button-color,20%);
    overflow: hidden;
    position: absolute;
    top: -12px;
    left: 20px;
    content: attr(data-name);
    height: fit-content;
    width: fit-content;
    padding: 2px 10px 2px 10px;
}

.sidebar-section-list-item-2 {
    position: relative;
    list-style: none;
    border: 1px inset $button-color-2;
    background-color: rgba($button-color-2, 0.5);
    box-shadow: 0 0 20px darken($button-color-2,20%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0 30px 0;
    border-radius: 25px;
    color: #fff;
    min-width: 15vw;
    width: fit-content;
    padding: 15px;
    min-height: 10vh;
}

.sidebar-section-list-item-2::before {
    background-color: $button-color-2;
    border-radius: 100px;
    border: 1px solid darken($button-color-2,20%);
    box-shadow: 0 0 20px darken($button-color-2,20%);
    overflow: hidden;
    position: absolute;
    top: -12px;
    left: 20px;
    content: attr(data-name);
    height: fit-content;
    width: fit-content;
    padding: 2px 10px 2px 10px;
}

.youtube-link {
    all: unset;
    background-color: rgba(white,0.5);
    border-radius: 15px;
    line-height: 30px;
    width: 90%;
    padding: 2px 10px 2px 10px;
}

.youtube-link ~ label {
    margin-top: 15px;
}

.youtube-flex-wrapper {
    display: flex;
    align-items: center;
    margin-top: 1em;
    width: 90%;
}

.youtube-accept-button {
    margin-left: 1em;
    border-radius: 50%;
    font-size: 1.2em;
    height: 90%;
    aspect-ratio: 1/1;
    border: 1px solid $button-color-2;
    box-shadow: 0 0 10px darken($button-color-2, 10%);
    background-color: $button-color-2;
    color: #fff;
}

.youtube-link-video-list{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    line-height: 30px;
    width: 90%;
}

.youtube-link-video-list div{
    flex: 1;
    width: 17vw;
    line-height: 30px;
    max-width: 18vw;
    div{
        float: left;
        max-width: 13vw;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.vdj-sidebar-section {
    flex-direction: row !important;
}


.icon-section {
    padding: 3px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0;
    right:0;
    width: 20%;
    border-radius: 10px 25px 10px 25px;
    border: 1px outset rgba(#fff, 50%);
    backdrop-filter: blur(2px);
    box-shadow: 0 0 10px darken(rgba(#fff, 50%), 15%);
    color: #fff !important;
}

.bildschirme {
    grid-column-start: 1;
    grid-column-end: 5;
    width: 100%;
    display: flow-root;
    max-width: 100vw;
}

.bildschirme .icon-section {
    display: none;
}


.year-input > input[type="number"]::-webkit-outer-spin-button, .year-input > input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.year-input {
    position: relative;
    width: 97%;
    height: 4vh;
}

.year-input > * {
    position: absolute;
}

.year-input > div {
    width: 10%;
    height: 82%;
    top:2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 1%;
}

.add-to-already-taken {
    background-color: rgba(darken(#0f0, 20%), 0.5);
    border-radius: 0px 100px 100px 0px;
    right: 2%;
}

.rem-from-already-taken {
    background-color: rgba(darken(#f00, 20%), 0.5);
    right: 12%;
}

.set-current-year {
    background-color: rgba(darken(#ff0, 20%), 0.5);
    right: 22%;
}