@import '../variables.scss';

@mixin eisbaer-overlay-button-layout {
    height: fit-content;
    padding: 15px;
    border-radius: 100px;
    width: fit-content;
    margin: 10px;
}

.spotify-login {
    max-width: 100%;
    min-width: 90%;
    height: 20%;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid $button-color;
    padding: 5px;
}

.eisbaer-overlay-button {
    @include eisbaer-overlay-button-layout();
    background-color: $button-color;
    border: 1px inset $button-color;
    box-shadow: 0 0 10px darken($button-color,20%);
}


.eisbaer-overlay-button-2 {
    @include eisbaer-overlay-button-layout();
    background-color: $button-color-2;
    border: 1px inset $button-color-2;
    box-shadow: 0 0 10px darken($button-color-2,20%);
    color: #fff;
}

.sidebar-section-list {
    margin-top: 3%;
    display: grid;
    gap: 20px;
}

.sidebar-section-list-item {
    position: relative;
    list-style: none;
    border: 1px inset $button-color;
    background-color: rgba($button-color, 0.5);
    box-shadow: 0 0 20px darken($button-color,20%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0 30px 0;
    border-radius: 25px;
    width: 100%;
    max-width: 20vw;
}

.sidebar-section-list-item::before {
    background-color: $button-color;
    border-radius: 100px;
    border: 1px solid darken($button-color,20%);
    box-shadow: 0 0 20px darken($button-color,20%);
    overflow: hidden;
    position: absolute;
    top: -12px;
    left: 20px;
    content: attr(data-name);
    height: fit-content;
    width: fit-content;
    padding: 2px 10px 2px 10px;
}

.sidebar-section-list-item-2 {
    position: relative;
    list-style: none;
    border: 1px inset $button-color-2;
    background-color: rgba($button-color-2, 0.5);
    box-shadow: 0 0 20px darken($button-color-2,20%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0 30px 0;
    border-radius: 25px;
    color: #fff;
    width: 100%;
    max-width: 20vw;
}

.sidebar-section-list-item-2::before {
    background-color: $button-color-2;
    border-radius: 100px;
    border: 1px solid darken($button-color-2,20%);
    box-shadow: 0 0 20px darken($button-color-2,20%);
    overflow: hidden;
    position: absolute;
    top: -12px;
    left: 20px;
    content: attr(data-name);
    height: fit-content;
    width: fit-content;
    padding: 2px 10px 2px 10px;
}

.youtube-link {
    all: unset;
    background-color: rgba(white,0.5);
    border-radius: 15px;
    line-height: 30px;
    width: 90%;
    padding: 2px 10px 2px 10px;
}

.youtube-link ~ label {
    margin-top: 15px;
}

.youtube-flex-wrapper {
    display: flex;
    align-items: center;
    margin-top: 1em;
    width: 90%;
}

.youtube-accept-button {
    margin-left: 1em;
    border-radius: 50%;
    font-size: 1.2em;
    height: 90%;
    aspect-ratio: 1/1;
    border: 1px solid $button-color-2;
    box-shadow: 0 0 10px darken($button-color-2, 10%);
    background-color: $button-color-2;
    color: #fff;
}

.youtube-link-video-list{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    line-height: 30px;
    width: 90%;
}

.youtube-link-video-list div{
    flex: 1;
    width: 17vw;
    line-height: 30px;
    max-width: 18vw;
    div{
        float: left;
        max-width: 13vw;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}