.spotify-now-playing * {
    color: #fff;
    pointer-events: none;
    user-select: none;
}

.album-cover {
    grid-column-start: 8;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 5;
    aspect-ratio: 1 / 1;
    height: 100%;
    border: 5px inset grey;
    background-color: rgb(202, 202, 202);
    position: relative;
}

.eisbaer-logo{
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 5;
}

@function make3dEffect($color) {
    $val: 0px 0px $color;
    @for $i from 1 through 20 {
      $color2: lighten($color, $i*0.6);
      $val: #{$val}, #{-0.15*$i}px #{-0.15*$i}px #{$color2};
    }
    @return $val;
  }
  
  @mixin longshadow($color) {
    text-shadow: make3dEffect($color), 0 0 10px $color;
  }
  
.year {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    color: $slotmachine-color;
    @include longshadow(lighten($slotmachine-color, 10%))
}

.eisbaer-logo img {
    width: 120%;
    height: 120%;
}

.album-cover img {
    object-fit: fill;
    height: 100%;
    width: 100%;
    position: absolute;
}

.right {
    right: 25px;
}

.left {
    left: 25px;
}

.album-cover p {
    position: absolute;
    bottom: 0;
    font-size: 3em;
    text-align: center;
    background-color: rgba(79, 79, 79, 0.7);
    width: 100%;
    word-wrap: break-word;
}
.spotify-now-playing {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: flex-end;
}

.progress-wrapper {
    grid-column-start: 1;
    grid-column-end: 12;
    grid-row-start: 5;
    grid-row-end: 8;
    align-self: flex-end;
    height: -webkit-fill-available;
    margin-top: 7%;
    max-width: 100%;
}

.progress-text {
    position: absolute;
    font-size: 4em;
    min-width: 300px;
    color: #fff;
}

.progress-bar {
    width: 102%;
    height: 75px;
    line-height: 75px;
    margin-left: -1.4%;
    margin-top: 3%;
    max-width: 100%;
}

.progress {
    position: relative;
    height: 100%;
    transition: width ease 1s;
    border-radius: 0 100px 100px 0;
    box-shadow: 0 0 20px $progress-bar-color; 
}

.current-artist {
    font-size: 3em;
    font-weight: 100;
    margin:0;
    padding-left: 2%;
    white-space: nowrap;
    overflow: hidden;
    width: 84%;
    text-overflow: ellipsis;
}

.current-song {
    font-size: 5em;
    font-weight: 900;
    margin:0;
    padding-left: 2%;
    white-space: nowrap;
    overflow: hidden;
    width: 84%;
    text-overflow: ellipsis;
}

.progress {
    background-color: $progress-bar-color;
}

.spotify-logo-wrapper {
    position: relative;
    top: -127px;
    right: 120px;
    float: right;
}

.spotify-logo {
    position: absolute;
    height: 50px;
}

.spotify-logo-title {
    position: relative;
    top: 10px;
}

.year {
    font-size: 5em;
}