.album-cover {
    grid-column-start: 8;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 5;
    aspect-ratio: 1 / 1;
    height: 100%;
    border: 5px inset grey;
    background-color: rgb(202, 202, 202);
    position: relative;
}

.eisbaer-logo{
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 5;
}

.year {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.eisbaer-logo img {
    width: 120%;
    height: 120%;
}

.album-cover img {
    object-fit: fill;
    height: 100%;
    width: 100%;
    position: absolute;
}

.right {
    right: 10px;
}

.left {
    left: 10px;
}

.album-cover p {
    position: absolute;
    bottom: 0;
    font-size: 3em;
    text-align: center;
    background-color: rgba(79, 79, 79, 0.7);
    width: 100%;
}
.spotify-now-playing {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: flex-end;
}

.progress-wrapper {
    grid-column-start: 1;
    grid-column-end: 12;
    grid-row-start: 5;
    grid-row-end: 8;
    align-self: flex-end;
    height: -webkit-fill-available;
    margin-top: 5%;
}

.progress-text {
    position: absolute;
    font-size: 3em;
    min-width: 110px;
}

.progress-bar {
    width: 102%;
    height: 50px;
    margin-left: -1%;
}

.progress {
    position: relative;
    height: 100%;
    transition: width ease 1s;
}

.current-artist {
    font-size: 4em;
    font-weight: 100;
    margin:0;
    padding-left: 2%;
}

.current-song {
    font-size: 6.5em;
    font-weight: 900;
    margin:0;
    padding-left: 2%;
}

.progress {
    background-color: $progress-bar-color;
}