$border-color: rgb(114, 114, 114);
$body-background: rgb(44, 44, 44);
$font-color: rgb(255, 255, 255);
$wheel-color-1: rgb(95, 25, 27);
$wheel-color-2: rgb(0,0,0);
$button-color: rgb(30,215,96);
$button-color-2: #e43121;
$progress-bar-color: #e43121;
$slotmachine-color: #866c5f;
$dj-tool-color-active: #63616b;
$dj-tool-color-not-active: darken($dj-tool-color-active, 20% );
